.contact-us-container {
	flex-direction: column;
	align-items: center;
	padding: 1rem 2rem;
	overflow: auto;
	width: 100%;
}

.contact-us-container__title {
	margin: 1rem;
}

.contact-us__form {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.contact-us__form__field {
	margin: 1rem;
	padding: 0.4rem;
	width: 200px;
}

textarea.contact-us__form__field {
	width: 90%;
	max-width: 90%;
	min-width: 200px;
	min-height: 20px;
}

.contact-us__form__submit-button {
	align-self: flex-end;
}

.contact-us__form__field--country {
	display: flex;
	position: relative;
	padding: 0;
	width: 216px;
}

.contact-us__form--submited .contact-us__form__field:invalid,
.contact-us__form--submited .contact-us__form__field--country .country__search:invalid,
.contact-us__form--submited textarea:invalid {
	border: 1px solid red;
}

.contact-us__form--submited .contact-us__form__field:valid,
.contact-us__form--submited .contact-us__form__field--country .country__search:valid,
.contact-us__form--submited textarea:valid {
	border: 1px solid green;
}

.contact-us__form__field--country .country__search {
	width: 216px;
	padding: 0.4rem;
}

.contact-us__form__field--country .country__menu {
	width: 214px;
	max-width: 214px;
}

@media screen and (max-width: 600px) {
	.contact-us__form {
		width: auto;
	}
}
