.search-country {
	position: relative;
	display: flex;
}

.country__search {
	width: 190px;
	padding: 5px;
}

.country__menu {
	display: none;
	position: absolute;
	top: 38px;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 188px;
	list-style-type: none;
	border: 1px solid gray;
	overflow: auto;
	max-height: 120px;
	background-color: white;
}

.country__menu__item {
	cursor: pointer;
	padding: 0.3rem 0.5rem;
	border-bottom: 1px solid black;
}

.country__menu__item--not-found {
	padding: 0.3rem 0.5rem;
}

.country__menu__item:hover,
.country__menu__item:focus {
	background-color: rgba(40, 50, 40, 0.6);
}

.country__menu__item:last-child {
	border: none;
}

.country__menu---open {
	display: block;
}
