$mobil-width: 36.776rem;
$desktop-width: 36.777rem;

// fonts
$title-font-size: 1.5rem;
$subtitle-font-size: 1.125rem;
$regular-font-size: 0.9rem;

// colors
$black: rgba(49, 48, 48);
$white: rgb(254, 254, 254);
$darker-white: rgb(205, 205, 205);
$hover-green: rgba(7, 75, 22, 0.5);
$box-shadow: rgba(0, 0, 0, 0.2);
$modal-box-shadow: rgba(0, 0, 0, 0.8);
$active: rgb(21, 76, 3);
$overlay-background: rgba(0, 0, 0, 0.6);
